.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-shadow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  box-shadow: 0 0 550px 240px #5891FF;
  z-index: -1;
}


.future-shadow::after {
  content: '';
  position: absolute;
  top: 70%;
  right: 50%;
  box-shadow: 0 0 350px 200px #5891FF;
  z-index: -1;
}


.creators-shadow::after {
  content: '';
  position: absolute;
  top: 10%;
  right: 50%;
  box-shadow: 0 0 350px 200px #5891FF;
  z-index: -1;
}


.stage-shadow::after {
  content: '';
  position: absolute;
  top: 10%;
  right: 50%;
  box-shadow: 0 0 350px 200px #5891FF;
  z-index: -1;
}

.supply-shadow::after {
  content: '';
  position: absolute;
  top: 40%;
  right: 50%;
  box-shadow: 0 0 350px 200px #5891FF;
  z-index: -1;
}


.revenue-shadow::after {
  content: '';
  position: absolute;
  top: 40%;
  right: 50%;
  box-shadow: 0 0 350px 200px #5891FF;
  z-index: 1;
}


.features-shadow::after {
  content: '';
  position: absolute;
  top: 10%;
  left: -20%;
  box-shadow: 0 0 350px 200px #5891FF;
  z-index: -1;
}